<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.pojo.Customer">
	<cache />
	<sql id="cusColumns">id,name,jobs,phone</sql>
	<select id="findById" parameterType="Integer"
		resultType="customer">
		select <include refid="cusColumns" /> from customer where id = #{id}
	</select>
	<select id="findByName" parameterType="String"
		resultType="com.learn.pojo.Customer">
		<!-- select * from customer where name like '%${value}%' -->
		select * from customer where name like concat('%',#{name},'%')
	</select>
	<insert id="addCustomer" parameterType="com.learn.pojo.Customer" keyProperty="id" useGeneratedKeys="true">
		insert into
		customer(name,jobs,phone) values(#{name},#{jobs},#{phone})
	</insert>
	<update id="updateCustomer"
		parameterType="com.learn.pojo.Customer">
		update customer set name=#{name}, jobs=#{jobs},
		phone=#{phone} where id=#{id}
	</update>
	<delete id="deleteCustomer" parameterType="Integer">
		delete from customer
		where id=#{id}
	</delete>
</mapper>